<body background="http://wallpaperlayer.com/img/2015/9/fall-leaves-background-6019-6288-hd-wallpapers.jpg">
<div class="jumbotron text-center">
<h1> The Offshore Leave System </h1>
<h3> This is where employees file any leaves they have taken or might take in the future. </h3>
</div>
</body>